# Google Sheets Configuration
#GOOGLE_SHEET_ID=1aoTfMoThrV1Fv-SzQnogEXNNqsprGBfq3AGHFFW-Xkw
GOOGLE_SHEET_ID=1Gjj6AdnMuZRw0_48qI0EbZWPk3JbBYlRk1vrz6HBcVU
GOOGLE_API_KEY=your_api_key_here

# Or use service account (preferred for backend)
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_KEY=your_service_account_private_key_here

# Server
PORT=3000
NODE_ENV=development
